/******************** header ********************/
#Hd {
    height: 100px;
    font-family: 'Amatic SC', cursive;
    z-index: 0;
}
/******************** Common ********************/
a {
    text-decoration: none;
}
.contents {
    margin: 10px 40px;
}
.common-title h1 {
    color: grey;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    border-bottom: 1px solid grey;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.common-title h1 > a {
    font-size: 25px;
    font-weight: normal;
    margin-left: auto;
    /* padding-top: 3%;
    padding-right: 3%; */
}
.common-body {
    font-family: 'Courier', sans-serif;
    font-size: 25px;
}
.common-body li {
    list-style: none;
}
.common-body li a {
    text-decoration: none;
    color: rgb(63, 62, 62);
}
.common-body li a:hover{
    color: rgba(94, 94, 8, 0.466);
}
.common-back-link {
    margin: 50px 0 70px 50px;
    /* margin-left: 30px; */
}
.common-back-link a {
    font-family: 'Courier', sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: rgb(63, 62, 62);
    font-size: 15px
}
.common-back-link a:hover {
    color: rgba(94, 94, 8, 0.466);
}
.common-back-link {
    font-family: 'Courier', sans-serif;
}
/******************** Title ********************/
.top-title h1 {
    position: absolute;
    top: 0px;
    left: 30px;
    /* border-bottom: 1px solid grey; */
    font-size: 50px;
    padding-bottom: 8px;
    font-family: 'Courier', sans-serif;
    /* font-family: 'Amatic SC', cursive; */
}
.top-title a {
    text-decoration: none;
    color: rgb(63, 62, 62);
}
.top-title a:hover {
    color: rgba(94, 94, 8, 0.466);
}
/******************** Global hamburger menu ********************/
.menu-btn {
    /* ここ注意↓ */
    position: fixed;
    /* ここ注意↓ */
    right: 10px;
    top: 15px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    /* ここ注意↓ */
    background-color: transparent;
}
.menu-btn span {
    content: '';
    display: block;
    height: 3px;
    /* ここ注意↓ */
    width: 16px;
    border-radius: 3px;
    background-color: grey;
    position: absolute;
    /* ここ注意↓ */
    transition: all 0.5s ease;
}
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    /* ここ注意↓ */
    width: 20px;
    border-radius: 3px;
    background-color: grey;
    position: absolute;
    /* ここ注意↓ */
    transition: all 0.5s ease;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check {
    display: none;
}
    /* 11/13追加 メニュー内容装飾 */
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    /*leftの値を変更してメニューを画面外へ*/
    left: 100%;
    z-index: 80;
    background-color: #ffffff;
    /* アニメーション設定 */
    transition: all 0.5s;
}
.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px grey;
    list-style: none;
    line-height: 1.6;
    margin-bottom: 8px;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 30px;
    box-sizing: border-box;
    color:grey;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px grey;
    border-right: solid 2px grey;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

#menu-btn-check:checked ~ .menu-content {
    left: 0%;
}

/******************** Top link parts ********************/
.top-board img {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 20%;
}
.top-board img:hover {
    cursor: context-menu;
}
.top-blog img {
    position: absolute;
    top: 250px;
    left: 300px;
    width: 20%;
}
.top-blog img:hover {
    cursor: context-menu;
}
/******************** Top link anime ********************/
.anime1 {
    animation-name: turn1;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1.5s;
}
@keyframes turn1 {
    0% {
        transform: translate(0,0px);
    }
    100% {
        transform: translate(0,-15px)
    }
}
.anime2 {
    animation-name: turn2;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1.5s;
}
@keyframes turn2 {
    100% {
        transform: translate(0,0px);
    }
    0% {
        transform: translate(0,-15px)
    }
}
/******************** Posts Parts  ********************/
.posts-flex {
    display: flex;
    display:-webkit-flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.common-body .posts-flex .flex-item {
    background-color: rgb(197, 197, 197);
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    width: 130px;
    height: 130px;
}
.common-body .posts-flex .flex-item p {
    font-size: 14px;
    vertical-align: top;
}
.common-body .posts-flex .flex-item h3 {
    font-size: 16px;
}
.common-body .posts-flex a{
    font-size: 15px;
    font-family: 'Courier', sans-serif;
    text-decoration: none;
}
/******************** show.php Post Body  ********************/
.post-body p {
    font-size: 17px;
    font-family: 'Courier', sans-serif;
    line-height: 1.6;
}
.post-body {
    margin-bottom: 100px;
}
/******************** Blogs Parts  ********************/
.common-body .blogs-body a{
    font-size: 15px;
    font-family: 'Courier', sans-serif;
    text-decoration: none;
}
.blogs-flex {
    display: flex;
    display:-webkit-flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
}
.common-body .blogs-flex .blogs-item {
    background-color: rgb(197, 197, 197);
    border-radius: 10px;
    margin: 5px;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
/******************** form  ********************/
.board-form {
font-family: 'Courier', sans-serif;
}
.board-form input,
.board-form textarea {
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
}
.board-form textarea {
    height: 160px;
}
.board-form button {
    padding: 4px 8px;
    font-size: 14px;
}
.form-group {
    margin-bottom: 16px;
}
.form-button {
    text-align: right;
}
/******************** error message ********************/
.board-form .error {
    color: red;
    font-size: 14px;
    margin-top: 8px;
}
/******************** delete button ********************/
.delete-btn {
    border: none;
    background-color: transparent;
    font-size: 24px;
    font-weight: normal;
    color: grey;
    cursor: pointer;
    vertical-align: 6px;
    font-family: 'Amatic SC', cursive;
}
/******************** comment欄 ********************/
.comments-form {
    display: flex;
}
.post-comments .error{
    color: red;
}
.comments-form > button {
    margin-left: 8px;
}
.post-comments {
    font-family: 'Courier', sans-serif;
}
.post-comments h2 {
    font-size: 18px;
    margin-top: 40px;
}
.post-comments li {
    margin: 15px 0;
}
.delete-comments {
    display: inline-block;
}
.delete-comments button {
    border: none;
    background-color: transparent;
    vertical-align: 3px;
    cursor: pointer;
}

